.page-title{
    background-color: #333;
    padding: 6px;
    margin: 10px;
    border-radius: 7px;
    color: #fff;
   }

   .branch-data{
    background-color: #0096885e;
    margin-bottom: 1rem;
    border-radius: 12px;
    border: solid 3px #0cb660;

    .lead{
        font-weight: bold;
        color: #000;
    }
}

.main{
    border-bottom: 1px solid #bdbcbc5e;
    margin-bottom: 1rem;
}